::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: rgb(162, 200, 233);
}

header h1 {
  margin: 5% 0 0 12%;
  font-size: 70px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

#scores {
  width: 30%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.623);
}

#RSR {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px;
}

#RSR h2 {
  margin-right: 20px;
}

#refresh-btn {
  margin-top: 15px;
  height: 40px;
  cursor: pointer;
  width: 50%;
  background-color: aquamarine;
  border-radius: 3px;
  border: none;
  font-size: larger;
}

#name {
  margin-bottom: 10px;
  height: 40px;
  width: 98%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

#name::placeholder {
  padding: 10px;
  font-style: italic;
}

#score {
  display: block;
  margin-bottom: 10px;
  height: 40px;
  width: 98%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

#score::placeholder {
  padding: 10px;
  font-style: italic;
}

#score-list {
  overflow: scroll;
  height: 500px;
  margin: 10px;
}

#add-score {
  width: 23%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.623);
}

#add-score h2 {
  width: 95%;
  padding: 10px;
}

#form {
  width: 95%;
  padding: 10px;
}

.score {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  width: 92%;
  margin-left: 3px;
}

.score-content {
  margin: 10px;
  font-weight: bold;
}

.score:nth-child(odd) {
  background: #fff;
}

.score:nth-child(even) {
  background: #ddd;
  border-radius: 30px;
}

#submit-btn {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: aquamarine;
  border-radius: 3px;
  margin-top: 50px;
  border: none;
  font-size: larger;
}
